li em {
  color: rebeccapurple;
}

h1 + p {
  font-size: 200%;
}

p span {
  color: red;
}

a:link {
  color: pink;
}

a:visited {
  color: #36454f;
}

a:hover {
  text-decoration: none;
}

a {
  font-weight: bold;
}

h1 + p .special {
  color: yellow;
  background-color: black;
  padding: 5px;
}
