.box {
  border: 5px solid black;
  height: 350px;
  background-position: center 20%;
}

.box {
  background-image: url("https://mdn.github.io/shared-assets/images/examples/purple-star.png");
  background-repeat: no-repeat;
}
