@font-face {
  font-family: "Inter";
  src: url("fonts/Inter-Italic.woff2") format("woff2"),
    url("fonts/Inter-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Great Vibes";
  src: url("fonts/GreatVibes-Regular.woff2") format("woff2"),
    url("fonts/GreatVibes-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

h1,
h2,
h3 {
  font-family: "Great Vibes";
}

p {
  font-family: "Inter";
  letter-spacing: 0.1rem;
  word-spacing: 0.3rem;
}
