@font-face {
    font-family: 'Inter';
    src: url('Inter-Italic.woff2') format('woff2'),
        url('Inter-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Great Vibes';
    src: url('GreatVibes-Regular.woff2') format('woff2'),
        url('GreatVibes-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

